In [ ]:
# Python: Load data and preprocess
import pandas as pd
import rpy2
%load_ext rpy2.ipython
# Load a CSV file

,Unnamed: 0,egoID,X,Q94_1,Q94_2,Q94_3,Q94_4,Q94_5,Q94_6,Q96_1,...,mean.deg,mean.bet,deg.centr,alter.aca.value.avg,alter.career.value.avg,density,gendersim,agediver.x,belong_cat,agediver.y
0,1,1001,1,5.0,4.0,5.0,1.0,1.0,3.0,5.0,...,3.000000,0.625000,0.000000,7.750000,8.750000,1.000000,0.500000,2.000000,0.0,2.000000
1,2,1002,2,2.0,5.0,5.0,1.0,2.0,2.0,4.0,...,1.333333,0.333333,0.333333,5.333333,8.666667,0.666667,-0.333333,0.918296,0.0,0.918296
2,3,1005,3,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,2.000000,0.000000,0.000000,9.333333,9.333333,1.000000,-0.333333,0.000000,1.0,0.000000
3,4,1007,5,3.0,4.0,5.0,3.0,1.0,2.0,5.0,...,7.000000,2.483333,0.222222,7.700000,9.200000,0.777778,-0.400000,2.646439,1.0,2.646439
4,5,1008,6,4.0,3.0,4.0,4.0,1.0,3.0,2.0,...,2.000000,0.500000,0.333333,6.750000,6.750000,0.666667,-0.500000,1.500000,0.0,1.500000

In [ ]:
%%R
alterattr_tmp <- read.csv("alterattr.csv")
egoattributes_tmp<-read.csv("egoattr.csv")
alter_tiestmp3 <- read.csv("altertie.csv")

egor.obj<-egor::threefiles_to_egor(egos= egoattributes_tmp, 
                                   alters.df = alterattr_tmp,
                                   edges = alter_tiestmp3,
                                   ID.vars=list(ego="egoID",
                                                alter="alterID",
                                                source="from.alter",
                                                target="to.alter")
                                   )

summary(egor.obj)

887 Egos/ Ego Networks
5183 Alters
Min. Netsize 2
Average Netsize 5.84329199549042
Max. Netsize 10
Average Density 0.801636513305059
Alter survey design:
  Maximum nominations: Inf